body{
    margin: 5px;
    padding: 5px;
    height: auto;
    background-color: rgb(244, 239, 239);
    
}

.bar{
    float: left;
    width: 20%;
}
#interface1{
    width: 100%;
    height: 650px;

}
#name{
    width: 60%;
    height: 650px;
    float: left;

}
#pic1{
    width: 40%;
    height: 650px;
    float: left;

}
.sp1{
    width: 100%;
    height: 215px;
    padding: auto;
    text-align: start;
    font-size: medium;
    font-style: italic;

}
.name{
    width: 100%;
    height: 220px;
    padding: auto;
    text-align: start;
    font-size: 500%;
    font-weight: bolder;
}
.sp2{
    width: 100%;
    height: 215px;
    padding: auto;
    text-align: start;
    font-size: larger;
    font-style: normal;
}
.pic1{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-shadow: 0 10px 40px grey;
    transition: transform 0.2s, box-shadow 0.2s;

}
.pic1:hover {
    transform: translateY(-5px);
    box-shadow: 5px 15px 60px gray;
}
#interface2{
    width: 100%;
    height: auto;   
}
.p3{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    font-size: large;
    background: #f5f5f5;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 13px rgba(0,0,0,0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}
.p3:hover{
    transform: translateY(-5px);
    box-shadow: 0 7px 15px rgba(0,0,0,0.2);

}
.about1{
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    font-size: larger;
    background: #f5f5f5;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 13px rgba(0,0,0,0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}
.about1:hover{
    transform: translateY(-5px);
    box-shadow: 0 7px 15px rgba(0,0,0,0.2);

}
.homebut{
    background: #c5d9e7;
    color: #f5f5f5;
}
.homebut:hover{
    background: #3361a1;
    color: white;
}